[user]
	email = 99558412+zenpk@users.noreply.github.com
	name = zenpk
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = vim
	excludesFile = $HOME/.gitignore # change this to absolute path
[safe]
	directory = *
[push]
	autoSetupRemote = true
[alias]
    lazy = "!f() { git add --all; git commit -m \"$*\" && git push; }; f"
    clonessh = "!f() { git clone \"$1\" --config core.sshCommand=\"ssh -i ~/.ssh/${2:-id_rsa}\"; }; f"
    signssh = "!f() { git config gpg.format ssh && git config user.signingkey \"~/.ssh/$1.pub\" && git config commit.gpgsign true; }; f"
    lg = "log --graph --abbrev-commit --decorate --color=always --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'"
    glog = "log --graph --all --abbrev-commit --decorate --color=always --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'"
    flog = "!git log --abbrev-commit --decorate --color=always --pretty=format:\"%h%x09%Cblue%an%x09%Creset%s\" | fzf --ansi --with-nth=2.. --delimiter='\t' --preview='git show --color=always {1}' | cut -d '\t' -f 1"
    sw = "!f() { branch=$(git branch -a | fzf --preview='git lg {1}'); if [ -n \"$branch\" ]; then git switch $(echo $branch | xargs); fi; }; f"
    st = "!git diff --name-status | awk '{ n = split($0, fields, \"\t\"); if (fields[1] == \"A\") { fields[1] = \"\\033[32m\" fields[1] \"\\033[0m\" } else if (fields[1] == \"D\") { fields[1] = \"\\033[31m\" fields[1] \"\\033[0m\" } else { fields[1] = \"\\033[34m\" fields[1] \"\\033[0m\" } print fields[1] \"\t\" fields[2]; }' | fzf --ansi --delimiter='\t' --preview='git diff --color -- {2} | tail -n +5'"
	count-lines = "log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; } END { printf \"added lines: %s, removed lines: %s\\n\", add, subs }' #"
